body {
   font-family: Delius;
   text-align: center;
   background-image: url('../images/bg2.png');
   background-repeat: no-repeat;
   background-attachment: ;
   background-position: center;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: #ffffff;
   font-size: 16px;
}

.main {
   max-width: 50%;
   margin: auto;
   background-color: #ffffff20;
   backdrop-filter: blur(5px);
   padding: 2%;
   border-radius: 10px;	
   margin-top: 20px;
   box-shadow: 0px 0px 5px 0px #00000040;
}

.user-details {
   display: block;
   margin-right: auto;
   margin-left: auto;
   text-align: center;
}

.user-details h2 {
   color: #fff;
   font-weight: 100;
}

.avatar {
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 100px;
   margin-top: 3%;
}

.social-icons {
   float: left;
   text-align: center;
   padding-right: 5px;
}

.linksection {
   width: 60%;
   text-align: center;
   margin: auto;
   padding-top: 20px;
   display: block;
}

.linkbox {
   padding: 20px;
   border-top: 1px solid #ffffff;
   border-right: 1px solid #ffffff;
   box-shadow: 0px 0px 3px 0px #00000080;
   backdrop-filter: blur(5px);
   display: block;
   border-radius: 5px;
   background-color: #ffffff20;
   margin-top: 15px;
}

.linkbox:hover {
   background-color: #ffffff60;
}